<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>plugin.title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.cheng.autopower</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>plugin.enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.cheng.autopower</string>
			<key>key</key>
			<string>IgnoreUserLowPower</string>
			<key>label</key>
			<string>plugin.ignoreUser</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>plugin.ignoreUserFooter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>trigger.group</string>
			<key>footerText</key>
			<string>trigger.exclusiveFooter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>io.cheng.autopower</string>
			<key>key</key>
			<string>LockedMode</string>
			<key>label</key>
			<string>trigger.locked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.cheng.autopower</string>
			<key>key</key>
			<string>ScreenOffMode</string>
			<key>label</key>
			<string>trigger.screenOff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>diagnostics.group</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>io.cheng.autopower</string>
			<key>key</key>
			<string>LogEnabled</string>
			<key>label</key>
			<string>diagnostics.logEnabled</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showLog:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>diagnostics.viewLog</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetState:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>diagnostics.reset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>diagnostics.logFooter</string>
		</dict>
	</array>
	<key>title</key>
	<string>AutoPower</string>
</dict>
</plist>
